.bg-background-image {
  background-image: url('/online/gua/images/background.svg?v=gua');
  background-color: #cabca1;
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
}

.bg-nav-mobile {
  background-color: #fff9f2;
}

.bg-nav-mobile .text-secondary-200 {
  color: #c44f00
}

.nav-hamburger {
  color: #c44f00
}
