.bg-background-image {
  background-image: url('/online/pablo/images/background.svg');
  background-color: #61161A;
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
}
